<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TO DO LIST</title>
</head>
<body>
  <div class="box">
    <h1>ToDo List</h1>
  </div>

  <div class="box">

      <% for( var i=0 ;i<ejes.length; i++){ %> 
        <div class="item">
          <input type="checkbox">
        <p> <%= ejes[i] %> </p>
        </div>
         <% } %>

    <form action="/" method="POST">
      <input type="text" name="ele1" placeholder="Enter the Task" required />
      <button type="submit">+</button>
    </form>
  </div>
</body>
</html>
